* {
    vertical-align: top;
}

body {
    margin: 0;
    background: #5EBAEE;
    font-family: helvetica, sans-serif;
}

@font-face {
    font-family: 'Raleway Thin';
    src: url('fonts/raleway_thin-webfont.ttf');
    src: local('Raleway Thin'), local('Raleway'), url('fonts/raleway_thin-webfont.ttf') format('truetype');
}

input {
    padding: 12px 20px;
    font-size: 18px;
    display: inline-block;
    border-radius: 4px 0 0 4px;
    border: 0;
}

a {
    text-decoration: none;
}

h1 {
    color: #88611C;
    margin: 0;
    text-shadow: 1px 0px #F8C98E;
    line-height: 42px;
    line-height: 88px;
    font-size: 40px;
    font-family: 'Raleway Thin';
    text-align: center;
}

hr {
    margin: 0;
    padding: 0;
    border: 0;
    border-top: 1px solid #197BB3;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    padding: 5px 0;
    text-align: center;
    color: #1B4164;
    position: relative;
    /*background: linear-gradient(to bottom, #2574A0 0%, #2292D3 3%, #2D9AD8 97%, #2574A0 100%);*/

}

li:hover {
    background: linear-gradient(to bottom, #2292D3 0%, #2D9AD8 34%, #2D9AD8 66%, #2292D3 100%);
}

.main-container {
    width: 400px;
    height: 480px;
    margin: 175px auto 150px;
    position: relative;
}

.container {
    width: 400px;
    height: 480px;
    background: #2D9AD8;
    box-shadow: 1px 1px 1px 0px #3487AD;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    -webkit-transition: border-radius .5s .6s ease;
    -webkit-transition: box-shadow .5s .6s ease;
}

.container-active {
    border-radius: 8px 8px 0 0;
    box-shadow: 1px 0px 1px 0px #3487AD;
    -webkit-transition: box-shadow 0s ease;
}

.title {
    height: 80px;
    margin-bottom: 18px;
    background: linear-gradient(to bottom, #EEAF5E 0%, #D87F2D 100%);
    border-radius: 8px 8px 0 0;
    box-shadow: inset 0 2px 1px -1px #F8C98E, 0 2px 1px -1px #28658D;;
}

.content {
    height: 275px;
    width: 305px;
    margin: 0 auto;
    padding: 0 10px;
    overflow: hidden;
}

.content a.edit, .content a.complete, .content a.delete {
    position: absolute;
    opacity: .5;
    /*top: 12px;*/
    -webkit-transition: all .1s ease;
}

.content a.edit {
    color: #17304B;
    left: 0px;
}

.content a.complete {
    color: #17304B;
    left: 22px;
}

.content a.delete {
    right: 0;
}

.content a.edit:hover, .content a.complete:hover, .content a.delete:hover {
    position: absolute;
    opacity: 1;
    top: 6px;
    -webkit-transform: scale(1.6);
}

.content a.delete:hover {
    color: rgb(133, 57, 57);
}

.new-to-do {
    width: 400px;
    height: 110px;
    /*padding: 35px 45px 20px 46px;*/
    border-radius: 0 0 8px 8px;
    background: linear-gradient(to bottom, #2D9AD8 0%, #197BB3 100%);
    position: absolute;
    z-index: -10;
    bottom: 0;
    -webkit-transition: bottom .7s ease;
}

.new-to-do-active {
    bottom: -105px;
    box-shadow: 1px 1px 1px 0px #3487AD;
    -webkit-transition: bottom .7s ease;
}

.input-and-save {
    width: 310px;
    margin: 37px auto 0;
}

.thin-line {
    width: 400px;
    height: 3px;
    background: #EC8F3A;
    border-radius: 8px;
    box-shadow: 0 2px 1px -1px #28658D;
    position: absolute;
    z-index: -10;
    bottom: 8px;
    -webkit-transition: bottom 0 .5s ease;
}

.thin-line-active {
    bottom: -3px;
    border-radius: 0;
    -webkit-transition: bottom .1s ease;
}

.rectangle-button {
    width: 80px;
    height: 45px;
    background: #1C84BE;
    color: #A9E1F7;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    margin-left: -4px;
    display: inline-block;
    border-radius: 0 4px 4px 0;
    border: 1px solid #13608B;
    box-shadow: inset 0px 4px 1px -3px rgb(182, 182, 182);
    text-shadow: 0 1px 0 #13608B;
    background: linear-gradient(to bottom, #539BB8 0%, #197BB3 100%);
}

/*
.rectangle-button {
    width: 138px;
    height: 37px;
    background: #1C84BE;
    color: #FFF;
    font-size: .9em;
    line-height: 2.5em;
    margin: 15px 0 0 67px;
    text-align: center;
    display: inline-block;
    border-radius: 3px;
    border: 1px solid #13608B;
    box-shadow: inset 0px 4px 1px -3px rgb(182, 182, 182);
    text-shadow: 0 1px 0 #13608B;
}*/

.rectangle-button:hover {
    background: linear-gradient(to bottom, #5BA8C7 0%, #197BB3 100%);
}

.add-to-do {
    width: 100px;
    height: 50px;
    margin: 0 auto;
    line-height: 38px;
    color: #88611C;
    font-size: 15px;
    text-align: center;
    text-shadow: 1px 0px #F8C98E;
    position: absolute;
    bottom: -20px;
    left: 150px;
    border-radius: 57%;
    border: 1px solid #2F7BA7;
    background: linear-gradient(to bottom, #EEAF5E 0%, #D87F2D 100%);
}

.add-to-do:hover {
    background: linear-gradient(to bottom, #F5BB72 0%, #D87F2D 100%);
}

.toggle-buttons {
    width: 212px;
    margin: 0 auto 18px;
}

.toggle-button {
    width: 60px;
    height: 29px;
    padding: 5px 20px;
    display: inline-block;
    background: #1C84BE;
    color: #A9E1F7;
    font-size: 13px;
    line-height: 29px;
    text-align: center;
    border: 1px solid #13608B;
    box-shadow: inset 0px 4px 1px -3px rgb(182, 182, 182);
    text-shadow: 0 1px 0 #13608B;    
    background: linear-gradient(to bottom, #539BB8 0%, #197BB3 100%);
}

.toggle-button:hover {
    background: linear-gradient(to bottom, #5BA8C7 0%, #197BB3 100%);
}

.toggle-button-active {
    line-height: 31px;
    background: linear-gradient(to bottom, #116291 0%, #2B88BE 100%);
}

.toggle-button-active:hover {
    background: linear-gradient(to bottom, #116291 0%, #2B88BE 100%);
}








